body {
    font-family: Optima, sans-serif;
    background: url('../img/dashboard-background.png') no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}